---
const { title, description, imgsrc, link, className = '' } = Astro.props
import Image from "astro/components/Image.astro"
import Button from "./Button.astro"
---

<div class="overflow-hidden">
  <Image src={imgsrc} alt={description} class="rounded-md"/>
  <div class="py-8">
      <p class="font-bold">{title}</p>
      <h1 class="md:text-2xl mb-8">{description}</h1>
      <Button title={title} link={link} />
    </div>
</div>
